@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body, html {
    background-color: #D9D9D9;
}

header {
    background-color: black;
    height: 5vw;
}

#phone {
    position: absolute;
    margin: auto;
    top: 3.5%;
    left: 73%;
}

#paragrafo-call {
    position: absolute;
    margin: auto;
    top: 3%;
    left: 75%;
    font-size: 0.9em;
}

#person {
    position: absolute;
    margin: auto;
    top: 3.5%;
    left: 83%;
    color: white;
}

#paragrafo-person {
    position: absolute;
    margin: auto;
    top: 3%;
    left: 85%;
    color: white;
    font-size: 0.9em;
}


#cart {
    position: absolute;
    margin: auto;
    top: 3.5%;
    left: 96%;
}

#img1 {
    position: absolute;
    top: 28%;
    left: 22.5%;
    background-color: #D4D1C9;
    width: 250px;
    height: 250px;
}

#img2 {
    position: absolute;
    top: 20%;
    left: 40%;
    background-color: #D4D1C9;
    width: 250px;
    height: 380px;

}

#img3 {
    position: absolute;
    top: 28%;
    left: 57.5%;
    background-color: #D4D1C9;
    width: 250px;
    height: 250px;
}

#carrossel {
    
}
