@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    outline: 1px solid red;
}

body, html {
    background-color: white;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

header {
    height: 15vw;
    background-color: black;
}

#logo img {
    position: absolute;
    top: 2%;
    left: 3%;
    width: 35px;
}

#caixa-de-busca {
    position: absolute;
    top: 3%;
    left: 24%;
    background-color: white;
    border-radius: 30px;
}

#caixa-de-busca input{
    width: 180px;
    height: 20px;
    padding: 6px 8px 6px 10px;
    border: none;
    background-color: transparent;
    outline: none;
    float: left;
    color: black;
}

#caixa-de-busca span {
    float: right;
    padding: 5px;
    width: 25px;
    height: 25px;
    color:black(60, 60, 60);
    background-color: #D5CFC7;
    border-radius: 50%;
}

#atendimento {
    display: none;
}

#logar span{ 
    position: absolute;
    top: 3%;
    left: 80%;
}

#logar p {
    display: none;
}

#carrinho{ 
    position: absolute;
    top: 3%;
    left: 90%;
}

main {
    position: relative;
    background-color: #d9d9d9;
    height: 90%;
    width: 100%;
}

#img1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #D5CFC7;
    height: 250px;
    width: 170px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.334);
    box-sizing: border-box;
}

#img2 {
    position: absolute;
    top: 25%;
    left: 16%;
    transform: translate(-50%,-50%);
    background-color: #D5CFC7;
    height: 160px;
    width: 140px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.334);
    box-sizing: border-box;
}

#img3 {
    position: absolute;
    top: 25%;
    left: 84%;
    transform: translate(-50%,-50%);
    background-color: #D5CFC7;
    height: 140px;
    width: 140px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.334);
    box-sizing: border-box;
}

footer {
    width: 90vw;
    
}

footer p {
    color: black;
}

