@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 8vh;
}

#logo { 
    margin-left: 10px;
}

#logo span {
    font-size: 40px;
    color: white;
}

header nav {

}

header nav a {
    margin: 20px;
    color: white;
    text-decoration: none;
}



body {
    background-color: #D9D9D9;
}






