@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 8vh;
}

.left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    width: 350px;
}


#logo span {
    font-size: 40px;
    color:  #D9D9D9;
}

header nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

header nav span{ 
    color: white;
    cursor: pointer;
}

header nav span:hover {
    color: #a9a9a9cb;
}

header nav a {
    margin: 20px 20px 20px 10px;
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    padding: 5px 0px;
}

header nav a:hover {
    color: #a9a9a9cb;
    font-size: 0.9em;
}

#cart span:hover {
    color: #D9D9D9;
    transform: translate(-2px, -2px);
}

#caixa-busca {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    width: 300px;
    height: 25px;
    padding: 5px;
    margin-left: 15px;
}

input#ibusca {
    background: none;
    border: none;
    width: 340px;
    height: 34px;
    border-radius: 30px;
    outline: none;
}

#caixa-busca span {
    color: black;
    font-size: 25px;
    padding: 5px;
}

#caixa-busca span:hover {
    color: rgb(218, 218, 218);
    background-color: #d9d9d9ca;
    border-radius: 10% 45% 45% 10%;
    padding: 4px;
    transition: .4s;
    height: 100%;
    width: 88%;
}

body {
    background-color: #D9D9D9;
}

main {
    display: flex;
    flex-flow: column nowrap;
}

.amostra {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 650px;
}

article#middle {
    background-color: #d6d2ca;
    width: 200px;
    height: 300px;
}

article#right {
    background-color: #d6d2ca;
    width: 200px;
    height: 200px;
    align-self: center;
}
article#left {
    background-color: #d6d2ca;
    width: 200px;
    height: 200px;
    order: -1;
    align-self: center;
}

section.catalogo {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: column nowrap;
}

section.extend{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start; 
    justify-content: space-between; 
    background-color: #d6d2ca;
}

.imagem-product-container {
    width: 280px;
}

article.product-container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

.footer-catalogo {
    position: absolute;
    top: 90%;
    left: 0%;
    background-color: rgba(255, 255, 255, 0.61);
    height: 30px;
    width: 100%;
}


footer {
    padding: 30px 0px;
    display: flex;
    flex-flow: column nowrap;
    background-color: black;
    color: white;
}

.info-footer {
    font-size: 0.9em;
    text-transform: uppercase;
}
.info-footer ul {
    list-style: none;
}

.info-footer ul li {
    margin-top: 5px;
}

.info-footer a {
    text-decoration: none;
    color: white;
}

.info-footer input{ 
    outline: none;
    border: none;
    padding: 5px;
}

#iemail {
    border-radius: 5px;
    width: 250px;
}

#input-submit {
    margin-left: -20px;
    width: 100px;
    background-color: #D9D9D9;
}

#input-submit:hover {
    cursor: pointer;
}

.info-footer a:hover {
    text-decoration: underline;
}

.line-up-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.line-below-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.info-footer img {
    width: 20px;
}

.links-contact {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.links-contact a {
    margin-top: 5px;
}

.center-ico-text {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 5px;
}











