@charset "UTF-8";

/* Fontes da Web */
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

:root {
    --fonte-padrao: "Abyssinica SIL", serif;
    --fonte-especial:"Aboreto", system-ui;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: black;
    color: white;
    height: 100%;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 6vh;
}

#logo {
    color: white;
    margin-top: 10px;
    margin-top: 50px;
}

#logo img {
    width: 70px;
}


article.essential {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

article.essential h1 {
    font-size: 5em;
    margin-bottom: 30px;
}

div.form {
    width: 500px;
}

div.form form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: white;
}

div.form form a {
    color: white;
}


.special-input {
    color: white;
    background: none;
    outline: none;
    border: 1px solid white;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
}

.special-input:focus {
    background-color: rgba(74, 74, 74, 0.342);
}

.normal-input {
    width: 80%;
    font-size: 1.4em;
    cursor: pointer;
}

.normal-input:hover {
    background-color: rgb(234, 232, 232);
    color: rgb(67, 67, 67);
}

div.form p {
    margin-top: 15px;
}

